﻿@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>
    Joel loves Film so much that he minored in Film Studies at BYU, contracts as a movie reviewer for
    ClearPlay, and does a weekly podcast about films & pop culture called Baconsale. He also loves comedy and he regularly performs at Quick Wits Comedy
</p>
<p>Learn more about <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>.</p>
<p>Learn more about <a href="https://baconsale.com/">Bacon Sale: a podcast by Joel</a>.</p>

<br />
<a href="https://baconsale.com/">
    <img src="~/baconsalekate.jpg" alt="Bacon Sale Photo">
</a>
<br />

@*
 *@

