﻿@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1>
            <p class="lead">Meet Joel! Joel is an absolute move fanatic and proud to be. But he needs your help! Look around this site to learn more about Joal and to add to his Movie Database!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="~/img/JoelHiltonPic.jpg" class="img-fluid rounded" alt="Joel Hilton">
        </div>
    </div>
</div>



