@model List<Mission06_Hart.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gq-magazine.co.uk%2Farticle%2Fmovietok-death-of-film-criticism&psig=AOvVaw3gExr7WwOK2JVcTASUzN18&ust=1708238202129000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLim9avhsYQDFQAAAAAdAAAAABAE" alt="Joel Hilton" />
</div>


